#container
    {
        height: 300px;
        display: flex;
        align-items: flex-end;
    }

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar{
    width: 10px;
    background: black;
    margin: 2px;
}

#user_int{
    display: flex;
}

#a_size {
    padding-left: 10px;
}

h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb, #553c9a);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  p {
    font-family: 'Courier New', monospace;
  }




.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#0cf, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}